// app global css in SCSS form

.full-height {
  min-height: inherit;
}

.container {
  height: 100%;
  width: 100%;
}

.grid-center {
  display: grid;
  place-items: center;
  
}

.capitalize {
  text-transform: capitalize;
}

.link {
  color: var(--q-color-secondary);
  
  &:hover {
    text-decoration: underline;
  }
}