// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.



$primary          : hsl(185, 63%, 33%);
$secondary        : hsl(16, 63%, 33%);
$accent           : hsl(205, 63%, 42%);
$dark             : hsl(0, 0%, 11%);
$positive         : hsl(135, 88%, 27%);
$negative         : hsl(353, 100%, 28%);
$info             : hsl(190, 100%, 35%);
$warning          : hsl(209, 100%, 50%);

@mixin customColor($name, $hue, $saturation, $light) {
  --q-color-#{$name}: hsl(#{$hue}, #{$saturation}, #{$light});

  .bg-#{$name} {
    background: var(--q-color-#{$name});
  }

  .text-#{$name} {
    color: var(--q-color-#{$name});
  }
}

:root {
  @include customColor('primary-light', 185, 63%, 48%);
  @include customColor('primary-dark', 185, 63%, 24%);
  @include customColor('secondary-light', 16, 63%, 57%);
  @include customColor('secondary-dark', 16, 63%, 33%);
}





